:root {
    --primary-bg: #2A4B7C;
    --secondary: #E6A71F;
    --white: #fdfdfd;
    --transition-speed: 0.9s ease-out;
}

.custom-card {
    overflow: hidden;
    background-color: var(--primary-bg);
    color: var(--white);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

/* Hover effect */
.custom-card:hover {
    background-color: var(--white);
    color: var(--primary-bg);
}

/* Smooth icon scaling */
.custom-card .card-body img {
    transition: transform var(--transition-speed);
}

.custom-card:hover .card-body img {
    transform: scale(0.8);
}

/* Text transition */
.card-text {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity var(--transition-speed), max-height var(--transition-speed);
}

/* Show text on hover */
.custom-card:hover .card-text {
    opacity: 1;
    max-height: 100px;
}

/* Layout transition */
.custom-card .card-body {
    transition: flex-direction var(--transition-speed);
}

/* Header row layout */
.custom-card:hover .card-body {
    flex-direction: row !important;
}


/* Common button styles */
.custom-btn {
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    padding: 10px 20px; 
}

/* Primary Button */
.custom-primary-btn {
    background-color: var(--primary-bg);
    color: var(--white);
    border: none;
}

.custom-primary-btn:hover,
.custom-secondary-btn:hover {
    background-color: var(--secondary);
    transform: translateY(-2px);
}

/* Secondary Button */
.custom-secondary-btn {
    color: var(--white);
    border: 2px solid var(--white);
    background-color: transparent;
}

.custom-secondary-btn:hover {
    border: none;
}
